<div class="container">
    <!-- Tab panes -->
    <div class="login_or_edit">
      <ul class="table-ul">

      </ul>
    </div>

    <!-- start of top_message_Section -->
  <div class="section">
    <div class="btn-section">
      <h3 class="mbr-hero__text">
        あなたの街をプロデュース
      </h3>
      <br>
      <p class="mbr-hero__subtext">あなたの街はどんな街ですか？　街のみんなで、投稿しよう。</p>

      <% unless user_signed_in? %>
        <div class="registration-btn">
          <p class="mbr-hero__subtext">
            <%= link_to "新規登録する", new_user_registration_path, class:"btn btn-primary", style:"width: 300px;height: 40px"%>
          </p>
        </div>

        <div class="registration-btn">
          <p class="mbr-hero__subtext">
            <%= link_to "新規登録しないで始める", usereets_path, class:"btn btn-primary", style:"width: 300px;height: 40px"%>
          </p>
        </div>

        <div class="registration-btn">
          <p class="mbr-hero__subtext">
            <%= link_to "お店の方専用のページ", new_company_registration_path, class:"btn btn-primary", style:"width: 300px;height: 40px"%>
          </p>
        </div>
      <% end %>
    </div>
  </div>
  <!-- end of top_message_Section -->

  <!-- start of news_Section -->
  <div class="section">
    <div class="post-class news-post">
      <div class="mbr-header__text">
        街のInterview!
      </div>
      <div class="tweet-box">
        <div class="chat-box news-post">
          <div class="chat-face">
            <%= image_tag "yuito_facebook.jpg", width:"90", height:"90"%>
          </div>
          <div class="chat-area">
            <div class="chat-hukidashi">
            <p>〜今週の記事はこちら〜</p>
            <p>　　　　　　　　　　　管理人より</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end of ranking_Section -->

  <!-- start of ranking_Section -->
  <div class="section">
    <div class="mbr-header__text">
      いいねランキング
    </div>
    <div class="ranking-content clearfix">
      <div class="ranking-content-image">
        <p>1st 　hogeさん</p>
        <%= image_tag "yuito_facebook.jpg", width:"200", height:"200" %>
      </div>
      <div class="ranking-content-image">
        <p>2nd 　hogeさん</p>
        <%= image_tag "new_yutaro_suit_ver.jpg", width:"200", height:"200" %>
      </div>
      <div class="ranking-content-image">
        <p>3rd 　hogeさん</p>
        <%= image_tag "new_jio_facebook.jpg", width:"200", height:"200" %>
      </div>
    </div>
  </div>
  <!-- end of ranking_Section -->


</div>
