    <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    <!-- Banner -->
      <section id="banner">
        <h2>COOLPON</h2>
        <p>あなたの街で、使えるクーポン</p>
          <ul class="actions">
              <li><%= link_to "クーポンを探そう", companyeets_path, class:"button special big" %></li>
          </ul>
      </section>

      <!-- Three -->
        <section id="three" class="wrapper style1">
          <div class="container">
            <header class="major special">
              <h2>お店にInterview!</h2>
              <p>Coming soon!</p>
            </header>
          </div>
        </section>

      <!-- One -->
        <section id="one" class="wrapper style1">
          <div class="container 75%">
            <div class="row 200%">
              <div class="6u 12u$(medium)">
                <header class="major">
                  <h2>coolponで<br/>お店のクーポンをGET</h2>
                  <p>こんにちは！毎度ありがとうございます。私たちは「」ためにという思いで運営しています。Coolponでお気に入りのお店のクーポンが見つかるかも？<br/>お店に行く前に必ずチェック！</p>
                </header>
              </div>
              <div class="6u$ 12u$(medium)">
                <p>ご利用規約</p>
                <p>Dolorum aspernatur maxime libero ratione quidem distinctio, placeat fugiat laborum voluptatum enim neque soluta vel sunt id ex veritatis. Labore rerum, odit sapiente, alias mollitia magnam exercitationem modi amet earum quia atque ipsum voluptas asperiores quas laboriosam.</p>
              </div>
            </div>
          </div>
        </section>


      <!-- Four -->
        <section id="four" class="wrapper style3 special">
          <div class="container">
            <header class="major">
              <h2>お店の方はこちら</h2>
              <p>お手軽にクーポンを発行することができます</p>
            </header>
            <ul class="actions">
              <li><%= link_to "店主専用ログイン", new_company_session_path, class:"button special big" %></li>
            </ul>
          </div>
        </section>











<% if false %>
<div class="container">
    <!-- Tab panes -->
    <div class="login_or_edit">
      <ul class="table-ul">

      </ul>
    </div>

    <!-- start of top_message_Section -->
  <div class="section">
      <div class="mbr-hero__text__theme">
        COOLPON
      </div>
      <br>
      <p class="mbr-hero__subtext">あなたの街で、使えるクーポン</p>

      <% unless user_signed_in? %>
        <div class="registration-btn">
          <p class="mbr-hero__subtext">
            <%= link_to "新規登録する", new_user_registration_path, class:"btn btn-primary", style:"width: 300px;height: 40px"%>
          </p>
        </div>

        <div class="registration-btn">
          <p class="mbr-hero__subtext">
            <%= link_to "新規登録しないで始める", usereets_path, class:"btn btn-primary", style:"width: 300px;height: 40px"%>
          </p>
        </div>

        <div class="registration-btn">
          <p class="mbr-hero__subtext">
            <%= link_to "お店の方専用のページ", new_company_registration_path, class:"btn btn-primary", style:"width: 300px;height: 40px"%>
          </p>
        </div>
      <% end %>
  </div>
  <!-- end of top_message_Section -->

  <!-- start of ranking_Section -->
  <div class="section">
    <div class="mbr-header__text">
      いいねランキング
    </div>
    <div class="ranking-content clearfix">
      <div class="ranking-content-image">
        <p class="ranking_st">1st 　hogeさん</p>
        <%= image_tag "yuito_facebook.jpg", width:"200", height:"200" %>
      </div>
      <div class="ranking-content-image">
        <p class="ranking_st">2nd 　hogeさん</p>
        <%= image_tag "new_yutaro_suit_ver.jpg", width:"200", height:"200" %>
      </div>
      <div class="ranking-content-image">
        <p class="ranking_st">3rd 　hogeさん</p>
        <%= image_tag "new_jio_facebook.jpg", width:"200", height:"200" %>
      </div>
    </div>
  </div>
  <!-- end of ranking_Section -->

  <!-- start of news_Section -->
  <div class="section">
    <div class="post-class news-post">
      <div class="mbr-header__text">
        街のInterview!
      </div>
      <div class="tweet-box">
        <div class="chat-box news-post">
          <div class="chat-face">
            <%= image_tag "yuito_facebook.jpg", width:"90", height:"90"%>
          </div>
          <div class="chat-area">
            <div class="chat-hukidashi">
            <p>今週の記事はまだありません</p>
            <p>　　　　　　　　　　　管理人より</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end of ranking_Section -->


</div>

<% end %>
