<div class="form-wrapper">
<h1>アカウント停止解除</h1>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-item">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

<div class="button-panel">
  <div class="actions">
    <%= f.submit "アカウント停止解除", class:"button" %>
  </div>
</div>
<% end %>

<div class="form-footer">
  <%= render "users/shared/links" %>
</div>
</div>
