<div id="like">
  <% if company_signed_in? || user_signed_in? %>
    <%= button_to companyeet_likes_path(companyeet), class: "btn btn-default", method: :post do %>
    <%= image_tag("assets/icon_heart.svg") %>
  <% end %>
    <span>
      <%= companyeet.likes_count %>
    </span>
  <% else %>
    <%= image_tag("icon_heart.svg") %>
    <span class="num">
      <%= companyeet.likes_count %>
    </span>
  <% end %>
</div>
