<div id="like">
  <% if user_signed_in? || company_signed_in? %>
    <%= button_to usereet_likes_path(usereet), class: "btn btn-default", method: :post do %>
    <%= image_tag("assets/icon_heart.svg") %>
  <% end %>
    <span>
      <%= usereet.likes_count %>
    </span>
  <% else %>
    <%= image_tag("icon_heart.svg") %>
    <span class="num">
      <%= usereet.likes_count %>
    </span>
  <% end %>
</div>
