
<div id="post", class="post-class">
  <% @companyeets.each do |companyeet| %>
    <div class="tweet-box">
      <div class="chat-box">
        <div class="chat-face">
          <%= image_tag companyeet.company.avatar.url, width:"90", height:"90"%>
        </div>
        <div class="chat-area">
          <div class="chat-hukidashi">
            <%= companyeet.title %>
              <p>　　　by <%= companyeet.company.nickname %></p>
          </div>
        </div>
      </div>
        <div class="dropdown">
          <div class="dropbtn">
            <div class="dropdown-content">
              <% if company_signed_in? && current_company.id == companyeet.company_id %>
                <%= link_to "編集", edit_companyeet_path(companyeet.id)%>
                <%= link_to "削除", companyeet_path(companyeet.id), method: :delete %>
              <% end %>
            </div>
            <%= image_tag companyeet.pic, class: "image_tag" %>
          </div>
        </div>
    </div>
  <% end %>
</div>

<div class="post-field">
  <% if company_signed_in? %>
    <div class="registration-btn">
      <p class="mbr-hero__subtext">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo", style="width: 350px;height: 60px">あなたも投稿しよう</button>
      </p>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">New message</h4>
          </div>

          <div id="post_field", class="post_field">
            <%= form_for @companyeet, class:"form-group", remote: true, authenticity_token: true do |f| %>
              <div class="modal-body">
                <div class="form-group">
                  <%= f.label :つぶやき, for:"recipient-name", class:"control-label" %>
                  <%= f.text_field :title, type:"text", class:"form-control", id:"recipient-name", required:"true" %>
                </div>
                <div class="form-group">
                  <%= f.label :画像, for:"exampleInputFile", class:"control-label" %>
                  <%= f.file_field :pic, type:"file", class:"form-control", id:"message-text", required:"true" %>
                  <%= f.hidden_field :company_id %>
                </div>
              </div>
              <div class="modal-footer">
                <%= f.submit :投稿, class:"btn btn-primary" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% else %>
    <div class="registration-btn">
      <p class="mbr-hero__subtext">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo", style="width: 350px;height: 60px">あなたも投稿しよう</button>
      </p>
    </div>
  <% end %>
</div>

<% if company_signed_in? %>
  <button class="floating", type="button" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">投稿</button>
  <div style="height:10px;width:10px;"></div>
<% end %>