<div class="form-wrapper">

  <h1>編集する <%= resource_name.to_s.humanize %></h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-item">
      <%= f.label :メールアドレス %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-item">
      <%= f.label :パスワード %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "off" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="form-item">
      <%= f.label :もう一度新しいパスワードを入力してください %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="form-item">
      <%= f.label :現在のパスワードを入力してください %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>

    <div class="button-panel">
      <div class="actions">
        <%= f.submit "更新", class:"button", value:"Update" %>
      </div>
    </div>

  <% end %>

    <div class="button-panel">
      <%= button_to "アカウントを削除", registration_path(resource_name), class:"button", data: { confirm: "Are you sure?" }, method: :delete %>
    </div>

    <div class="form-footer">
      <%= link_to "戻る", :back %>
    </div>

</div>
