<div class="form-wrapper">
<h1>パスワードの変更</h1>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="form-item">
    <%= f.label :"新しいパスワード" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
  </div>

  <div class="form-item">
    <%= f.label :"新しいパスワードをもう一度入力してください" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="button-panel">
    <div class="actions">
      <%= f.submit "パスワードを変更", class:"button" %>
    </div>
  </div>
<% end %>

<div class="form-footer">
  <%= render "users/shared/links" %>
</div>
</div>
