<div class="form-wrapper">
  <h1>Forgot your password?</h1>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-item">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="button-panel">
    <div class="actions">
      <%= f.submit "Send me reset password instructions", class:"button" %>
    </div>
  </div>
<% end %>

  <div class="form-footer">
  <%= render "companies/shared/links" %>
  </div>
</div>
