<div class="header">
<ul class="table-ul">
  <li><%= link_to "店主のつぶやき", companyeets_path %></li>
  <li><%= link_to "皆のつぶやき", usereets_path %></li>
  <li><a>お知らせ</a></li>
</ul>
  <!-- Tab panes -->

<div class="login_or_edit">
  <ul class="table-ul">
    <% unless user_signed_in?%>
      <% unless company_signed_in?%>
        <li><%= link_to "商店専用ページ", new_company_session_path %></li>
        <li><%= link_to "ログイン",new_user_session_path %></li>
      <% end %>
    <% end %>

    <% if user_signed_in? %>
      <% unless company_signed_in? %>
        <li><%= link_to "ログアウト", destroy_user_session_path %></li>
        <li><%= link_to "マイページ", user_path(current_user) %></li>
        <li><%= link_to "登録編集", edit_user_registration_path %></li>
      <% end %>
    <% elsif company_signed_in? %>
      <li><%= link_to "ログアウトする", destroy_company_session_path %></li>
      <li><%= link_to "マイページ", company_path(current_company) %></li>
      <li><%= link_to "ユーザー情報編集", edit_company_registration_path %></li>
    <% end %>
  </ul>
</div>
