<!DOCTYPE html>
<html>
  <head>
    <title>INT.REVIEW</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'javascripts/style', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">
  </head>

  <body class="landing">

    <!-- Header -->
      <header id="header" class="alt">
        <h1><a href="/", style="text-decoration: none;">INT.REVIEW</a></h1>
      </header>

      <!-- Flash Message -->
      <% flash.each do |key, value| %>
        <% key = "info" if key == "notice" %>
        <% key = "danger"  if key == "alert" %>
        <%= content_tag :div, value, class: "alert alert-#{key}" %>
      <% end %>

       <%= yield %>

    <!-- Footer -->
      <footer id="footer">
        <div class="container">
          <ul class="icons">
            <li><a href="#" class="icon fa-facebook"></a></li>
            <li><a href="#" class="icon fa-twitter"></a></li>
          </ul>
          <ul class="copyright">
          <li>Copyright <a href="/">Coolpon</a> 2017</li>
          </ul>
        </div>
      </footer>
  </body>
</html>
