<!DOCTYPE html>
<html>
  <head>
    <title>Wavelocal</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= yield %>

    
  <div class="ranking-content">
  <div class="mbr-header__text">
    週次ランキング
  </div>
  <div class="tweet-box">
    <% @ranking.each do |ranking| %>
      <div>
        <%= ranking.title %>
      </div>
      <!-- <%= image_tag ranking.pic, class:"image_tag"%> -->
    <% end %>
  </div>
</div>


    <footer class="header">
      <p>
        Copyright WaveLocal 2016.
      </p>
    </footer>
  </body>
</html>
