<div class="form-wrapper">
  <h2>新規登録</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-item">
      <%= f.email_field :email, autofocus: true, type:"email", required:"true", placeholder:"メールアドレス" %>
    </div>

    <div class="form-item">
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 字以下)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", type:"password", required:"required", placeholder:"パスワード" %>
    </div>


    <div class="form-item">
      <%= f.label :パスワードの確認 %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", required:"required", placeholder:"もう一度パスワードを入力してください" %>
    </div>

    <div class="form-item">
      <%= f.label :ニックネーム %><br />
      <%= f.text_field :nickname %>
    </div>

    <div class="form-item">
      <%= f.file_field :avatar, placeholder:"画像を選択してください" %>
    </div>

    <div class="button-panel">
      <div class="actions">
        <%= f.submit "新規登録", class:"button", value:"Sign Up" %>
      </div>
    </div>

    <div class="form-footer">
      <p><%= render "users/shared/links" %></p>
    </div>

  <% end %>
</div>
